sentry:
    dsn: '%env(SENTRY_DSN)%'
    options:
        ignore_exceptions:
            - 'Symfony\Component\HttpKernel\Exception\NotFoundHttpException'
            - 'Symfony\Component\HttpKernel\Exception\AccessDeniedHttpException'
            - 'Symfony\Component\Security\Core\Exception\AccessDeniedException'
services:
    Sentry\Monolog\Handler:
        arguments:
            $hub: '@Sentry\State\HubInterface'
            $level: !php/const Monolog\Logger::ERROR
monolog:
    handlers:
        sentry:
            type: service
            id: Sentry\Monolog\Handler
