Rate a map’s difficulty by clicking the community rating.<br/>
To submit your rating, you must:<br>
<ul>
  <li>Be logged in to your Ragnacustoms account</li>
  <li>Your Ragnacustoms account must be 1 month old</li>
  <li>Have a score on the map you wish to evaluate</li>
  <li>Have scores on at least 5 other maps with the same difficulty</li>
</ul>
